{% trans_default_domain 'Elements' %}

<div class="panel {{ additionalClass|default('') }}">
    <div class="panel-body">
        <p class="pad-btm">{{ 'heading.forgot_password'|trans }} </p>
        <form action="{{ path('reset_password') }}" method="post">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                    <input type="email" class="form-control" placeholder="{{ 'placeholder.email'|trans }}">
                </div>
            </div>
            <div class="form-group text-right">
                <button class="btn btn-success text-uppercase" type="submit">{{ 'button.reset_password'|trans }}</button>
            </div>
        </form>
    </div>
</div>