{% trans_default_domain 'Elements' %}

{# visibility #}
{% set uploadPhotos = uploadPhotos|default('visible') %}
{% set addAlbum = addAlbum|default('invisible') %}

{# activity #}
{% set allPhotos = allPhotos|default('') %}
{% set album = album|default('') %}

{# cover #}
<div class="profile-cover">
    <div class="cover">
        {# avatar #}
        <div class="media avatar-btm">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-lg" src="{{ asset('img/av1.png') }}">
                </a>
            </div>
            <div class="media-body">
                <p class="text-2x media-heading mar-no text-thin text-white shadow">Lucy Moon</p>
                <p class="text-md text-white mar-no">abc@gmail.com</p>
            </div>
        </div>

        {# cover img #}
        <div class="inner-cover">
            <img class="img-responsive cover-landscape" src="{{ asset('img/thumbs/img3.jpg') }}" alt="{{ 'alt.cover'|trans }}r">
        </div>

        {# menu bar #}
        <ul class="list-unstyled no-pad cover-menu mar-btm-5" style="overflow: visible">
            <li class="{{ allPhotos }}">
                <a href="{{ path('get_gallery') }}"><i class="fa fa-fw fa-picture-o"></i><span class="mar-lft-5">{{ 'label.all_photos'|trans }}</span></a>
            </li>

            <li class="{{ album }} hidden-xs">
                <a href="{{ path('get_album') }}"><i class="fa fa-fw fa-book"></i><span class="mar-lft-5">{{ 'label.album'|trans }}</span></a>
            </li>
            {% if uploadPhotos == "visible" %}
                <li class="hidden-xs"><a href="#" id="upload-photos"><i class="fa fa-fw fa-camera"></i><span class="mar-lft-5">{{ 'label.upload_photos'|trans }}</span></a></li>
            {% endif %}

            {% if addAlbum == "visible" %}
                <li class="hidden-xs"><a href="#" id="add-album"><i class="fa fa-fw fa-plus"></i><span class="mar-lft-5">{{ 'label.add_album'|trans }}</span></a></li>
            {% endif %}

            {# show bars only when browser is in mobile size. It is responsive purpose #}
            <li class="dropdown hidden-md hidden-lg hidden-sm">
                <a id="dropdownMenu1" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-bars"></i></a>
                <div class="dropdown-menu bg-dark no-border pad-all-5" role="menu" aria-labelledby="dropdownMenu1">
                    <div class="{{ album }}">
                        <a href="{{ path('get_album') }}" role="menuitem"><i class="fa fa-fw fa-book"></i><span class="mar-lft-5">{{ 'label.album'|trans }}</span></a>
                    </div>
                    {% if uploadPhotos == "visible" %}
                        <div class="">
                            <a href="#" id="upload-photos-sm" role="menuitem"><i class="fa fa-fw fa-camera"></i><span class="mar-lft-5">{{ 'label.upload_photos'|trans }}</span></a>
                        </div>
                    {% endif %}

                    {% if addAlbum == "visible" %}
                        <div class="">
                            <a href="#" id="add-album-sm" role="menuitem"><i class="fa fa-fw fa-plus"></i><span class="mar-lft-5">{{ 'label.add_album'|trans }}</span></a>
                        </div>
                    {% endif %}
                </div>
            </li>
            {# end #}
        </ul>
    </div>
</div>