{% extends "::base.html.twig" %}

{% set user = {
    avatar: asset('img/av1.png'),
    name: 'John Doe',
    contact: "abc@gmail.com"
} %}

{% set medias = [
    {
        user: {
            name: "Nancy",
            age: 19,
            nationality: "Russia",
            occupation: "student"
        },
        url: asset('img/thumbs/img1.jpg'),
        alt: "ImageName",
        comments_count: 2,
        likes_count: 2,
        comments: [
            {
                id: 1,
                user: {
                    avatar: asset('img/av5.png'),
                    avatarAlt: "Maria Leanz",
                    name: "Maria Leanz",
                },
                createdAt: 'tip.minutes_ago'|transchoice(11),
                text: "Duis autem vel eum iriure dolor in hendrerit in vulputate ?"
            },
            {
                id: 2,
                user: {
                    avatar: asset('img/av5.png'),
                    avatarAlt: "Maria Leanz",
                    name: "Maria Leanz",
                },
                createdAt: 'tip.minutes_ago'|transchoice(11),
                text: "Duis autem vel eum iriure dolor in hendrerit in vulputate ?"
            }
        ]
    },
{
user: {
name: "Nancy",
age: 19,
nationality: "Russia",
occupation: "student"
},
url: asset('img/thumbs/img2.jpg'),
alt: "ImageName",
comments_count: 2,
likes_count: 2,
comments: [
{
id: 1,
user: {
avatar: asset('img/av5.png'),
avatarAlt: "Maria Leanz",
name: "Maria Leanz",
},
createdAt: 'tip.minutes_ago'|transchoice(11),
text: "Duis autem vel eum iriure dolor in hendrerit in vulputate ?"
},
{
id: 2,
user: {
avatar: asset('img/av5.png'),
avatarAlt: "Maria Leanz",
name: "Maria Leanz",
},
createdAt: 'tip.minutes_ago'|transchoice(11),
text: "Duis autem vel eum iriure dolor in hendrerit in vulputate ?"
}
]
},
{
user: {
name: "Nancy",
age: 19,
nationality: "Russia",
occupation: "student"
},
url: asset('img/thumbs/img3.jpg'),
alt: "ImageName",
comments_count: 2,
likes_count: 2,
comments: [
{
id: 1,
user: {
avatar: asset('img/av5.png'),
avatarAlt: "Maria Leanz",
name: "Maria Leanz",
},
createdAt: 'tip.minutes_ago'|transchoice(11),
text: "Duis autem vel eum iriure dolor in hendrerit in vulputate ?"
},
{
id: 2,
user: {
avatar: asset('img/av5.png'),
avatarAlt: "Maria Leanz",
name: "Maria Leanz",
},
createdAt: 'tip.minutes_ago'|transchoice(11),
text: "Duis autem vel eum iriure dolor in hendrerit in vulputate ?"
}
]
},
{
user: {
name: "Nancy",
age: 19,
nationality: "Russia",
occupation: "student"
},
url: asset('img/bg-img/bg-img-2.jpg'),
alt: "ImageName",
comments_count: 2,
likes_count: 2,
comments: [
{
id: 1,
user: {
avatar: asset('img/av5.png'),
avatarAlt: "Maria Leanz",
name: "Maria Leanz",
},
createdAt: 'tip.minutes_ago'|transchoice(11),
text: "Duis autem vel eum iriure dolor in hendrerit in vulputate ?"
},
{
id: 2,
user: {
avatar: asset('img/av5.png'),
avatarAlt: "Maria Leanz",
name: "Maria Leanz",
},
createdAt: 'tip.minutes_ago'|transchoice(11),
text: "Duis autem vel eum iriure dolor in hendrerit in vulputate ?"
}
]
},
{
user: {
name: "Nancy",
age: 19,
nationality: "Russia",
occupation: "student"
},
url: asset('img/bg-img/bg-img-1.jpg'),
alt: "ImageName",
comments_count: 2,
likes_count: 2,
comments: [
{
id: 1,
user: {
avatar: asset('img/av5.png'),
avatarAlt: "Maria Leanz",
name: "Maria Leanz",
},
createdAt: 'tip.minutes_ago'|transchoice(11),
text: "Duis autem vel eum iriure dolor in hendrerit in vulputate ?"
},
{
id: 2,
user: {
avatar: asset('img/av5.png'),
avatarAlt: "Maria Leanz",
name: "Maria Leanz",
},
createdAt: 'tip.minutes_ago'|transchoice(11),
text: "Duis autem vel eum iriure dolor in hendrerit in vulputate ?"
}
]
},
{
user: {
name: "Nancy",
age: 19,
nationality: "Russia",
occupation: "student"
},
url: asset('img/bg-img/bg-img-3.jpg'),
alt: "ImageName",
comments_count: 2,
likes_count: 2,
comments: [
{
id: 1,
user: {
avatar: asset('img/av5.png'),
avatarAlt: "Maria Leanz",
name: "Maria Leanz",
},
createdAt: 'tip.minutes_ago'|transchoice(11),
text: "Duis autem vel eum iriure dolor in hendrerit in vulputate ?"
},
{
id: 2,
user: {
avatar: asset('img/av5.png'),
avatarAlt: "Maria Leanz",
name: "Maria Leanz",
},
createdAt: 'tip.minutes_ago'|transchoice(11),
text: "Duis autem vel eum iriure dolor in hendrerit in vulputate ?"
}
]
},
{
user: {
name: "Nancy",
age: 19,
nationality: "Russia",
occupation: "student"
},
url: asset('img/bg-img/bg-img-4.jpg'),
alt: "ImageName",
comments_count: 2,
likes_count: 2,
comments: [
{
id: 1,
user: {
avatar: asset('img/av5.png'),
avatarAlt: "Maria Leanz",
name: "Maria Leanz",
},
createdAt: 'tip.minutes_ago'|transchoice(11),
text: "Duis autem vel eum iriure dolor in hendrerit in vulputate ?"
},
{
id: 2,
user: {
avatar: asset('img/av5.png'),
avatarAlt: "Maria Leanz",
name: "Maria Leanz",
},
createdAt: 'tip.minutes_ago'|transchoice(11),
text: "Duis autem vel eum iriure dolor in hendrerit in vulputate ?"
}
]
},
{
user: {
name: "Nancy",
age: 19,
nationality: "Russia",
occupation: "student"
},
url: asset('img/bg-img/bg-img-5.jpg'),
alt: "ImageName",
comments_count: 2,
likes_count: 2,
comments: [
{
id: 1,
user: {
avatar: asset('img/av5.png'),
avatarAlt: "Maria Leanz",
name: "Maria Leanz",
},
createdAt: 'tip.minutes_ago'|transchoice(11),
text: "Duis autem vel eum iriure dolor in hendrerit in vulputate ?"
},
{
id: 2,
user: {
avatar: asset('img/av5.png'),
avatarAlt: "Maria Leanz",
name: "Maria Leanz",
},
createdAt: 'tip.minutes_ago'|transchoice(11),
text: "Duis autem vel eum iriure dolor in hendrerit in vulputate ?"
}
]
},
{
user: {
name: "Nancy",
age: 19,
nationality: "Russia",
occupation: "student"
},
url: asset('img/thumbs/img3.jpg'),
alt: "ImageName",
comments_count: 2,
likes_count: 2,
comments: [
{
id: 1,
user: {
avatar: asset('img/av5.png'),
avatarAlt: "Maria Leanz",
name: "Maria Leanz",
},
createdAt: 'tip.minutes_ago'|transchoice(11),
text: "Duis autem vel eum iriure dolor in hendrerit in vulputate ?"
},
{
id: 2,
user: {
avatar: asset('img/av5.png'),
avatarAlt: "Maria Leanz",
name: "Maria Leanz",
},
createdAt: 'tip.minutes_ago'|transchoice(11),
text: "Duis autem vel eum iriure dolor in hendrerit in vulputate ?"
}
]
}
] %}

{% set albums = [
    {
        id: 1,
        name: "Default Album",
        isDefault: true
    },
{
id: 2,
name: "My Album",
isDefault: false
},
{
id: 3,
name: "Student",
isDefault: false
},
{
id: 4,
name: "Model",
isDefault: false
},
{
id: 5,
name: "Lover",
isDefault: false
},
{
id: 6,
name: "Office Lady",
isDefault: false
}
] %}
{% block stylesheets %}
    <link href="{{ asset('plugins/bootstrap-select/bootstrap-select.min.css') }}" rel="stylesheet">
    <link href="{{ asset('plugins/dropzone/dropzone.css') }}" rel="stylesheet">
    <link href="{{ asset('plugins/dropzone/dropzone.css') }}" rel="stylesheet">
    <link href="{{ asset('css/card.css') }}" rel="stylesheet">
    <link href="{{ asset('css/gallery.css') }}" rel="stylesheet">
    <link href="{{ asset('css/ribbon.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="container" class="navbar-fixed">
        {# navbar #}
        {% include 'AppBundle:elements:navbar/lobby-navbar.html.twig' with {
            writeStatus: 'invisible',
            image: 'invisible',
            mainnav: 'invisible'
        } %}

        {# content #}
        <div class="boxed">
            <div id="content-container">
                {# cover #}
                {% include "AppBundle:elements:landscape-profile-cover.html.twig" with {allPhotos: "active"} %}

                {# gallery #}
                <div id="page-content">
                    <div id="card-container" class="mar-no">
                        {% embed 'AppBundle:widgets:dropfile-widget-dark.html.twig' with {
                            panelTitleClass: "pad-rgt-120 show-overflow",
                            panelClass: "hidden"
                        } %}
                            {% block panel_title %}
                                <select class="selectpicker" data-width="100%" data-size="5">
                                    {% for album in albums %}
                                        {% if album.isDefault %}
                                            <option value="{{ album.id }}" selected>{{ album.name }}</option>
                                        {% else %}
                                            <option value="{{ album.id }}">{{ album.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            {% endblock %}
                        {% endembed %}

                        {% for media in medias %}
                            {% include 'AppBundle:elements:cards/image-card.html.twig' with {
                                id: loop.index,
                                user: user,
                                media: media|default(null)
                            } %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {# scroll to top #}
        <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/dropzone/dropzone.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dropfile.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/likes-and-comment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/gallery.js') }}"></script>
{% endblock %}