{% extends "::base.html.twig" %}

{% trans_default_domain 'Elements' %}

{% set detail = {
    groups: [
        {
            id: 1,
            name: "Model",
            isDefault: true
        },
        {
            id: 2,
            name: "Office Lady",
            isDefault: false
        },
        {
            id: 3,
            name: "Student",
            isDefault: false
        },
        {
            id: 4,
            name: "G-CUP",
            isDefault: false
        },
    ],
    services: [
        {
            id: 1,
            diaplayName: "In-call",
            name: 'incall',
            checked: true,
            items: [
                {
                    id: 1,
                    checked: true,
                    template: "unit-price",
                    hasUnit: true,
                    unit: {
                        value: 2,
                        min: 1,
                        selected: "h",
                        options:[
                            {
                                id: 'm',
                                name: 'Minute'
                            },
                            {
                                id: 'h',
                                name: 'Hour'
                            }
                        ]
                    },
                    price: {
                        value: 570,
                        currency: {
                            selected: 1,
                            options: [
                                {
                                    id: 1,
                                    symbol: '$',
                                    shortName: 'AUD',
                                    fullName: 'Australia Dollar'
                                },
                                {
                                    id: 2,
                                    symbol: '¥',
                                    shortName: 'CNY',
                                    fullName: 'Chinese Yuan'
                                },
                                {
                                    id: 3,
                                    symbol: '$',
                                    shortName: 'USD',
                                    fullName: 'American Dollar'
                                },
                                {
                                    id: 4,
                                    symbol: '€',
                                    shortName: 'EUR',
                                    fullName: 'European Dollar'
                                },
                            ]
                        },
                    },
                    hasDesc: false
                },
{
id: 2,
checked: true,
template: "unit-price",
hasUnit: true,
unit: {
value: 2,
min: 1,
selected: "h",
options:[
{
id: 'm',
name: 'Minute'
},
{
id: 'h',
name: 'Hour'
}
]
},
price: {
value: 270,
currency: {
selected: 2,
options: [
{
id: 1,
symbol: '$',
shortName: 'AUD',
fullName: 'Australia Dollar'
},
{
id: 2,
symbol: '¥',
shortName: 'CNY',
fullName: 'Chinese Yuan'
},
{
id: 3,
symbol: '$',
shortName: 'USD',
fullName: 'American Dollar'
},
{
id: 4,
symbol: '€',
shortName: 'EUR',
fullName: 'European Dollar'
},
]
},
},
hasDesc: false
},
            ]
        },
        {
            id: 2,
            diaplayName: "Out-call",
            name: "outcall",
            checked: true,
            items: [
            ]
        },
        {
            id: 3,
            diaplayName: "Overnight",
            name: "overnight",
            checked: false,
            items: [
{
id: 1,
checked: true,
template: "unit-price",
hasUnit: false,
price: {
value: 2000,
currency: {
selected: 1,
options: [
{
id: 1,
symbol: '$',
shortName: 'AUD',
fullName: 'Australia Dollar'
},
{
id: 2,
symbol: '¥',
shortName: 'CNY',
fullName: 'Chinese Yuan'
},
{
id: 3,
symbol: '$',
shortName: 'USD',
fullName: 'American Dollar'
},
{
id: 4,
symbol: '€',
shortName: 'EUR',
fullName: 'European Dollar'
},
]
},
},
hasDesc: true,
    desc: {
        rows: 4,
        text: "Don't miss out this girl, she is freaking hot and skilled"
}
},
            ]
        },
        {
            id: 4,
            diaplayName:"Escort",
            name: "escort",
            checked: false,
            items: [
{
id: 1,
checked: true,
template: "unit-price",
hasUnit: true,
unit: {
value: 2,
min: 1,
selected: "h",
options:[
{
id: 'm',
name: 'Minute'
},
{
id: 'h',
name: 'Hour'
},
{
id: 'd',
name: 'Day'
},
{
id: 'mo',
name: 'Month'
},
{
id: 'y',
name: 'Year'
}
]
},
price: {
value: 570,
currency: {
selected: 1,
options: [
{
id: 1,
symbol: '$',
shortName: 'AUD',
fullName: 'Australia Dollar'
},
{
id: 2,
symbol: '¥',
shortName: 'CNY',
fullName: 'Chinese Yuan'
},
{
id: 3,
symbol: '$',
shortName: 'USD',
fullName: 'American Dollar'
},
{
id: 4,
symbol: '€',
shortName: 'EUR',
fullName: 'European Dollar'
},
]
},
},
hasDesc: true,
    desc: {
        rows: 4,
        text: "Escort detail goes here."
}
},
            ]
        },
        {
            id: 5,
            diaplayName: "Suana",
            name: "suana",
            checked: true,
            items: []
        },
    ],
    options: [
        {
            id: 1,
            diaplayName: "SM",
            name: "sm",
            checked: false,
            items: [
                {
                    id: 1,
                    displayName: "Handcuffs",
                    name: "handcuffs",
                    template: "unit-price",
                    checked: true,
                    price: {
                        value: 20,
                        currency: {
                            selected: 1,
                            options: [
                                {
                                    id: 1,
                                    symbol: '$',
                                    shortName: 'AUD',
                                    fullName: 'Australia Dollar'
                                },
                                {
                                    id: 2,
                                    symbol: '¥',
                                    shortName: 'CNY',
                                    fullName: 'Chinese Yuan'
                                },
                                {
                                    id: 3,
                                    symbol: '$',
                                    shortName: 'USD',
                                    fullName: 'American Dollar'
                                },
                                {
                                    id: 4,
                                    symbol: '€',
                                    shortName: 'EUR',
                                    fullName: 'European Dollar'
                                },
                            ]
                        }
                    }
                }
            ]
        },
        {
            id: 2,
            diaplayName: "Uniform",
            name: "uniform",
            checked: false,
            items: []
        }
    ]
}
%}

{% block stylesheets %}
    <link href="{{ asset('plugins/chosen/chosen.min.css') }}" rel="stylesheet">
    <link href="{{ asset('plugins/fullcalendar-2.3.1/fullcalendar.css') }}" rel="stylesheet">

    <link href="{{ asset('css/girl.css') }}" rel="stylesheet">
    <link href="{{ asset('css/card.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="container" class="effect navbar-fixed mainnav-out">
        {# navbar #}
        {% include 'AppBundle:elements:navbar/lobby-navbar.html.twig' with {
            writeStatus: 'invisible',
            mainnav: 'invisible',
            girl: 'invisible',
            submitDetails: 'visible'
        } %}

        {# content #}
        <div class="boxed">
            <div id="content-container">
                <div id="page-content" class="row">
                    {# show empty message #}
                    {% if detail|default(null) is null %}
                        <div class="text-center pad-all text-white center-block girl-profile-wrapper">
                            <h1>Good Day</h1>
                            <p class="text-2x mar-btm">Girls are the key to success, and to enter guest's heart</p>
                            <button class="btn btn-info btn-large"><span class="text-2x">Add new girl</span></button>
                        </div>
                    {% else %}
                        {% include 'AppBundle:elements:girl/detail-form.html.twig' with {
                            detail: detail
                        } %}
                    {% endif %}
                </div>
            </div>
        </div>

        {# scroll to top #}
        <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('plugins/chosen/chosen.jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/fullcalendar-2.3.1/lib/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/fullcalendar-2.3.1/fullcalendar.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/girl.js') }}"></script>
{% endblock %}