{% extends "::base.html.twig" %}

{% trans_default_domain 'Elements' %}

{% block stylesheets %}
    <link href="{{ asset('plugins/chosen_v1.4.2/chosen.min.css') }}" rel="stylesheet">
    <link href="{{ asset('plugins/fullcalendar-2.3.1/fullcalendar.css') }}" rel="stylesheet">

    <link href="{{ asset('css/girl.css') }}" rel="stylesheet">
    <link href="{{ asset('css/slider/slider-with-thumbnail-attached-to-bottom.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="container" class="effect navbar-fixed mainnav-out">
        {# navbar #}
        {% include 'AppBundle:elements:navbar/lobby-navbar.html.twig' with {
            writeStatus: 'invisible',
            mainnav: 'invisible',
            girl: 'invisible',
            submitDetails: 'visible'
        } %}

        {# content #}
        <div class="boxed">
            <div id="content-container">
                <div id="page-content" class="row">
                    {# show empty message #}
                    {% if detail|default(null) is null %}
                        <div class="text-center pad-all text-white center-block girl-profile-wrapper">
                            <h1>Good Day</h1>
                            <p class="text-2x mar-btm">Girls are the key to success, and to enter guest's heart</p>
                            <button class="btn btn-info btn-large"><span class="text-2x">Add new girl</span></button>
                        </div>
                    {% else %}
                        {% include 'AppBundle:elements:girl/detail-form.html.twig' with {
                            detail: detail
                        } %}
                    {% endif %}
                </div>
            </div>
        </div>

        {# scroll to top #}
        <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('plugins/chosen_v1.4.2/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('plugins/moment/moment.min.js') }}"></script>
    <script src="{{ asset('plugins/fullcalendar-2.3.1/fullcalendar.js') }}"></script>
    <script src="{{ asset('plugins/jssor-slider/js/jssor.slider.js') }}"></script>
    <script src="{{ asset('plugins/jssor-slider/js/jssor.js') }}"></script>

    <script src="{{ asset('js/slider/slider-with-thumbnail-attached-to-bottom.js') }}"></script>
    <script src="{{ asset('js/girl.js') }}"></script>
{% endblock %}