{% trans_default_domain 'Elements' %}
{% import 'AppBundle:widgets:like-comment-link-widget.html.twig' as lcWidget %}

<div class="card bg-gray-dark" data-id="{{ id }}" data-comment-count="{{ media.comments_count }}">
    <div class="img-wrapper">
        <a href="#"><img class="img-responsive" src="{{ asset(media.url) }}" alt="{{ media.alt }}"></a>

        {# show basic info only when broswer window is in small size #}
        <span class="hidden-lg hidden-md img-info-sm text-xs text-white pad-all-10 text-lg text-bold">{{ media.user.name }}, {{ media.user.age }}, {{ media.user.nationality }}</span>
        {# end #}

        <div class="animated fadeIn img-caption img-caption-btm pad-ver-5">
            <div>
                {{ lcWidget.showLinksOFCommentAndLike(media.comments_count, media.likes_count, {class: "btn btn-link pad-lft-10", dataPlacement: "top"}, "text-white") }}

                {# show basic info only when broswer window is in full size #}
                <span class="hidden-xs hidden-sm text-sm text-white pad-lft-10 text-lg text-bold">{{ media.user.name }}, {{ media.user.age }}, {{ media.user.nationality }}</span>
                {# end #}

                <div class="pull-right">
                    {% include "AppBundle:widgets:img-action-itemset-widget.html.twig" %}
                </div>
            </div>
        </div>
    </div>
    <div class="ribbon-wrapper">
        <div class="ribbon ribbon-success"><i class="fa fa-star"></i><span class="pad-lft-5">{{ 'label.new'|trans }}</span></div>
    </div>
</div>