{% trans_default_domain 'Elements' %}

{% set writeStatus = writeStatus|default('visible') %}
{% set image = image|default('visible') %}
{% set mainnav = mainnav|default('visible') %}
{% set girl = girl|default('invisible') %}

<ul class="nav navbar-top-links {{ direction }}">

    {# main navigation #}
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    {% if mainnav == 'visible' %}
        <li class="tgl-menu-btn add-tooltip" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ 'label.filter'|trans }}">
            <a class="mainnav-toggle push" href="#">
                <i class="fa fa-filter fa-lg"></i>
            </a>
        </li>
    {% endif %}

    {# lobby #}
    <li class="add-tooltip" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ 'label.lobby'|trans }}">
        <a href="{{ path('get_lobby') }}" >
            <span>
                <i class="fa fa-bank fa-lg"></i>
            </span>
        </a>
    </li>

    {# home timeline #}
    <li class="add-tooltip" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ 'label.home'|trans }}">
        <a href="{{ path('get_home_timeline') }}">
            <span>
                <i class="fa fa-home fa-2x"></i>
            </span>
        </a>
    </li>

    {# message #}
    <li class="dropdown add-tooltip " data-toggle="tooltip" data-placement="bottom" data-original-title="{{ 'label.message'|trans }}">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            <i class="fa fa-envelope fa-lg"></i>
            <span class="badge badge-header badge-warning">9</span>
        </a>

        {# message dropdown menu #}
        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right with-arrow">
            <div class="pad-all bord-btm">
                <p class="text-lg text-muted text-thin mar-no">{{ 'tip.you_have_msg'|transchoice(9)|raw }}</p>
            </div>
            <div class="nano scrollable">
                <div class="nano-content">
                    <ul class="head-list">
                        {# menu item #}
                        <li>
                            <a href="#" class="media">
                                <div class="media-left">
                                    <img src="{{ asset('img/av2.png') }}" alt="{{ 'alt.profile_pic'|trans }}" class="img-circle img-sm">
                                </div>
                                <div class="media-body">
                                    <div class="text-nowrap">{{ 'tip.who_sent_u_msg'|trans({'%name%': 'Andy'}) }}</div>
                                    <small class="text-muted">{{ 'tip.seconds_ago'|transchoice(1)|raw }}</small>
                                </div>
                            </a>
                        </li>

                        {# menu item #}
                        <li>
                            <a href="#" class="media">
                                <div class="media-left">
                                    <img src="{{ asset('img/av4.png') }}" alt="{{ 'alt.profile_pic'|trans }}" class="img-circle img-sm">
                                </div>
                                <div class="media-body">
                                    <div class="text-nowrap">{{ 'tip.who_sent_u_msg'|trans({'%name%': 'Lucy'}) }}</div>
                                    <small class="text-muted">{{ 'tip.seconds_ago'|transchoice(40)|raw }}</small>
                                </div>
                            </a>
                        </li>

                        {# menu item #}
                        <li>
                            <a href="#" class="media">
                                <div class="media-left">
                                    <img src="{{ asset('img/av3.png') }}" alt="{{ 'alt.profile_pic'|trans }}" class="img-circle img-sm">
                                </div>
                                <div class="media-body">
                                    <div class="text-nowrap">{{ 'tip.who_sent_u_msg'|trans({'%name%': 'Jackson'}) }}</div>
                                    <small class="text-muted">{{ 'tip.minutes_ago'|transchoice(1)|raw }}</small>
                                </div>
                            </a>
                        </li>

                        {# menu item #}
                        <li>
                            <a href="#" class="media">
                                <div class="media-left">
                                    <img src="{{ asset('img/av6.png') }}" alt="{{ 'alt.profile_pic'|trans }}" class="img-circle img-sm">
                                </div>
                                <div class="media-body">
                                    <div class="text-nowrap">{{ 'tip.who_sent_u_msg'|trans({'%name%': 'Donna'}) }}</div>
                                    <small class="text-muted">{{ 'tip.hours_ago'|transchoice(1)|raw }}</small>
                                </div>
                            </a>
                        </li>

                        {# menu item #}
                        <li>
                            <a href="#" class="media">
                                <div class="media-left">
                                    <img src="{{ asset('img/av4.png') }}" alt="{{ 'alt.profile_pic'|trans }}" class="img-circle img-sm">
                                </div>
                                <div class="media-body">
                                    <div class="text-nowrap">{{ 'tip.who_sent_u_msg'|trans({'%name%': 'Lucy'}) }}</div>
                                    <small class="text-muted">{{ 'tip.days_ago'|transchoice(1)|raw }}</small>
                                </div>
                            </a>
                        </li>

                        {# menu item #}
                        <li>
                            <a href="#" class="media">
                                <div class="media-left">
                                    <img src="{{ asset('img/av3.png') }}" alt="{{ 'alt.profile_pic'|trans }}" class="img-circle img-sm">
                                </div>
                                <div class="media-body">
                                    <div class="text-nowrap">{{ 'tip.who_sent_u_msg'|trans({'%name%': 'Jackson'}) }}</div>
                                    <small class="text-muted">{{ 'tip.years_ago'|transchoice(1)|raw }}</small>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            {# dropdown menu footer #}
            <div class="pad-all bord-top">
                <a href="#" class="btn-link text-dark box-block">
                    <i class="fa fa-angle-right fa-lg pull-right"></i>{{ 'tip.show_all_message'|trans }}
                </a>
            </div>
        </div>
    </li>

    {# image #}
    {% if image == 'visible' %}
        <li class="add-tooltip images" data-toggle="tooltip" data-placement="bottom" data-original-title="Gallery">
            <a href="{{ path('get_gallery') }}">
                <i class="fa fa-image fa-lg"></i>
            </a>
        </li>
    {% endif %}

    {# girl #}
    {% if girl == 'visible' %}
        <li class="add-tooltip girl" data-toggle="tooltip" data-placement="bottom" data-original-title="Girl">
            <a href="{{ path('get_girls') }}">
                <i class="fa fa-female fa-lg"></i>
            </a>
        </li>
    {% endif %}

    {# write status #}
    {% if writeStatus == 'visible' %}
        <li class="add-tooltip write-status" data-toggle="tooltip" data-placement="bottom" data-original-title="Write status">
            <a href="#">
                <i class="fa fa-pencil fa-lg"></i>
            </a>
        </li>
    {% endif %}

    {# search box #}
    {#<li class="searchbox">#}
        {#<a> &#123;&#35; <-- use <a> to align search box vertically as it has been defined in this way in nifty.css &#35;&#125;#}
            {#<form>#}
                {#<div class="form-group searchbox">#}
                    {#<div class="input-group custom-search-form">#}
                        {#<input type="text" class="form-control" placeholder="{{ 'placeholder.search'|trans }}">#}
                        {#<div class="input-group-btn">#}
                            {#<button class="text-muted" type="button"><i class="fa fa-search"></i></button>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</form>#}
        {#</a>#}
    {#</li>#}
</ul>