{% trans_default_domain 'Elements' %}

{% set accordionParent = accordionParent|default(null) ? 'data-parent="#' ~ accordionParent ~ '"' : '' %}

<div class="settings-account-wrapper" id="setting-account">
    {# account #}
    <div class="panel bg-dark panel-colorful mar-btm-5">
        <div class="panel-heading border-btm-solid-dark-4a">
            <div class="panel-control setting-panel-control">
                <a class="btn btn-link no-pad-hor save-desc">
                    <i class="fa fa-check-circle fa-fw fa-lg text-dark text-hover-info add-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Save account"></i>
                </a>
            </div>

            <div class="panel-title setting-panel-title">
                <a {{ accordionParent }} data-toggle="collapse" href="#account-panel-collapse">
                    <span class="text-lg">Account</span>
                </a>
            </div>
        </div>

        <div class="panel-collapse in" id="account-panel-collapse" aria-expanded="true">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">{{ 'label.username'|trans }}</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" name="username" placeholder="{{ 'placeholder.username'|trans }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">{{ 'label.email'|trans }}</label>
                        <div class="col-lg-7">
                            <div class="input-group">
                                <input type="email" class="form-control" name="email" placeholder="{{ 'placeholder.email'|trans }}" aria-describedby="email-description">
                                <span class="input-group-addon bg-gray-light no-border">
                                    <label class="form-checkbox form-icon active">
                                        <input type="checkbox" id="emailPrivacy" name="emailPrivacy"> {{ 'label.public'|trans }}
                                    </label>
                                </span>
                            </div>
                            <span id="email-description" class="help-block">Email will not be opened to public unless you tick on "Public"</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# password #}
    <div class="panel bg-dark panel-colorful mar-btm-5">
        <div class="panel-heading border-btm-solid-dark-4a">
            <div class="panel-control setting-panel-control">
                <a class="btn btn-link no-pad-hor save-desc">
                    <i class="fa fa-check-circle fa-fw fa-lg text-dark text-hover-info add-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Save password"></i>
                </a>
            </div>

            <div class="panel-title setting-panel-title">
                <a {{ accordionParent }} data-toggle="collapse" href="#pwd-panel-collapse">
                    <span class="text-lg">Password</span>
                </a>
            </div>
        </div>

        <div class="panel-collapse in" id="pwd-panel-collapse" aria-expanded="true">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Currenty password</label>
                        <div class="col-lg-7">
                            <input type="password" class="form-control" name="currentPassword" placeholder="{{ 'placeholder.password'|trans }}" aria-describedby="forgot-password">
                            <a id="forgot-password" href="#" class="text-hover-info help-block no-mar-btm">Forgot password?</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">New password</label>
                        <div class="col-lg-7">
                            <input type="password" class="form-control" name="newPassword" placeholder="{{ 'placeholder.password'|trans }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Verify password</label>
                        <div class="col-lg-7">
                            <input type="password" class="form-control" name="confirmNewPassword" placeholder="{{ 'placeholder.re_enter_password'|trans }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>