{% trans_default_domain 'Elements' %}

<div id="upload-photo-panel" class="stamp panel bg-dark {{ panelClass }}">
    {% set showForm = formAction|default('#') != '#' %}
    {% if showForm %}
    <form action="{{ formAction }}" method="post">
    {% endif %}
        {# Panel heading - control#}
        <div class="panel-heading border-btm-solid-dark-4a">
            <div class="panel-control">
                <input type="file" id="hidden-file" multiple class="hidden">
                <button id="btn-new-photo" class="btn btn-xs add-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'tip.add_photo'|trans }}">
                    <i class="fa fa-plus fa-fw fa-lg text-dark text-hover-info"></i>
                </button>
                <button class="btn btn-xs add-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'tip.upload'|trans }}">
                    <i class="fa fa-check fa-fw fa-lg text-dark text-hover-info"></i>
                </button>
                <button id="upload-photo-dismiss" class="btn btn-xs add-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'tip.close'|trans }}">
                    <i class="fa fa-times text-dark text-hover-danger fa-fw fa-lg"></i>
                </button>
            </div>
            <div class="panel-title {{ panelTitleClass }}">
                {% block panel_title %}
                    <span>{{ 'label.upload_photo'|trans }}</span>
                {% endblock %}
            </div>
        </div>

        {# Panel body - drop zone #}
        <div class="panel-body no-pad">
            {% include 'AppBundle:elements:image-upload-form.html.twig' %}
        </div>
    {% if showForm %}
    </form>
    {% endif %}
</div>