{% set prefix = unitPricePrefix %}
{% set uniPriceItemId = unitPriceItem.id %}

{% set panelId = prefix ~ '-panel-' ~ uniPriceItemId %}
{% set hasUnit = unitPriceItem.hasUnit|default(false) %}
{% set hasDesc = unitPriceItem.hasDesc|default(false) %}
{% set hasLabel = unitPriceItem.hasLabel|default(false) %}

{% set checked = unitPriceItem.checked ? 'checked' : '' %}

{% set price = unitPriceItem.price %}
{% set priceDivColClass = "col-xs-11 col-sm-10" %}

{% set unit = unitPriceItem.unit|default(null) %}
{% set desc = unitPriceItem.desc|default(null) %}

{% set labelName = unitPriceItem.labelName|default(null) %}

{% import "AppBundle:widgets:unit.html.twig" as unitWidget %}
{% import "AppBundle:widgets:price.html.twig" as priceWidget %}

{% import _self as div %}

<div class="panel bg-trans panel-colorful no-border-shadow " id="{{ panelId }}">
    <div class="panel-body no-pad">
        <div class="row">

            {# checkbox #}
            <div class="col-xs-1 col-sm-2 pad-rgt-5">
                <div class="checkbox text-center">
                    <label class="form-checkbox form-icon">
                        <input type="checkbox" class="form-control" data-has-unit="{{ hasUnit }}" data-has-desc="{{ hasDesc }}" data-item-id="{{ uniPriceItemId }}" data-prefix="{{ prefix }}" {{ checked }}>
                    </label>
                </div>
            </div>

            {% if hasUnit %}
                <div class="col-xs-4 col-sm-5 no-pad-lft pad-rgt-5">
                    {{ unitWidget.showUnit(unit, prefix, uniPriceItemId) }}
                </div>

                {% set priceDivColClass = "col-xs-7 col-sm-5" %}
            {% elseif hasLabel %}
                <div class="col-xs-7 col-sm-5 no-pad-lft pad-rgt-5">
                    {{ div.showLabel(labelName, prefix, uniPriceItemId, true)}}
                </div>

                {% set priceDivColClass = "col-xs-4 col-sm-5" %}
            {% endif %}

            {# price #}
            <div class="{{ priceDivColClass }} no-pad-lft">
                {{ priceWidget.showPrice(price, prefix, uniPriceItemId) }}
            </div>
        </div>

        {% if hasDesc %}
            {{ div.showDesc(desc, prefix, uniPriceItemId) }}
        {% endif %}
    </div>
</div>

{% macro showLabel(labelName, prefix, uniPriceItemId, editable) %}
{% spaceless %}
    {% set optionItemNameInputId = prefix ~ '-input-opt-item-name-' ~ uniPriceItemId %}
    {#{% set editable = editable|default(true) %}#}

    {% if editable %}
        <input type="text" id="{{ optionItemNameInputId }}" class="form-control" value="{{ labelName }}">
    {% else %}
        <span class="form-control border-solid-trans">{{ labelName }}</span>
    {% endif %}
{% endspaceless %}
{% endmacro %}

{% macro showDesc(desc, prefix, uniPriceItemId) %}
{% spaceless %}
    {% set descId = prefix ~ '-textarea-desc-' ~ uniPriceItemId %}
    {% set descRows = desc.rows|default(3) %}
    {% set descText = desc.text|default('') %}

    <div class="row mar-top-5">
        <div class="col-xs-push-2 col-sm-push-2 col-xs-10 col-sm-10">
            <textarea class="form-control" id="{{ descId }}" name="{{ descId }}" rows="{{ descRows }}" placeholder="Any thing to say about?">{{ descText }}</textarea>
        </div>
    </div>
{% endspaceless %}
{% endmacro %}
