{% trans_default_domain 'ElementRegistration' %}
{# QQ #}
<div class="form-group">
    <label for="qq" class="col-xs-3 control-label frt-light-pink">{{ 'registration.wizard.label.qq'|trans }}</label>
    <div class="col-xs-9">
        <input type="text" class="form-control bg-light-gray frt-light-pink" id="qq">
    </div>
</div>
{# webchat #}
<div class="form-group">
    <label for="webchat" class="col-xs-3 control-label frt-light-pink">{{ 'registration.wizard.label.webchat'|trans }}</label>
    <div class="col-xs-9">
        <input type="text" class="form-control bg-light-gray frt-light-pink" id="webchat">
    </div>
</div>
{# Twitter #}
<div class="form-group">
    <label for="twitter" class="col-xs-3 control-label frt-light-pink">{{ 'registration.wizard.label.twitter'|trans }}</label>
    <div class="col-xs-9">
        <input type="text" class="form-control bg-light-gray frt-light-pink" id="twitter">
    </div>
</div>
{# Facebook #}
<div class="form-group">
    <label for="facebook" class="col-xs-3 control-label frt-light-pink">{{ 'registration.wizard.label.facebook'|trans }}</label>
    <div class="col-xs-9">
        <input type="text" class="form-control bg-light-gray frt-light-pink" id="facebook">
    </div>
</div>
{# Mobile #}
<div class="form-group">
    <label for="mobile" class="col-xs-3 control-label frt-light-pink">{{ 'registration.wizard.label.mobile'|trans }}</label>
    <div class="col-xs-9">
        <input type="text" class="form-control bg-light-gray frt-light-pink" id="mobile">
    </div>
</div>
{# phone #}
<div class="form-group">
    <label for="phone" class="col-xs-3 control-label frt-light-pink">{{ 'registration.wizard.label.phone'|trans }}</label>
    <div class="col-xs-9">
        <input type="text" class="form-control bg-light-gray frt-light-pink" id="phone">
    </div>
</div>
{# email #}
<div class="form-group">
    <label for="email" class="col-xs-3 control-label frt-light-pink">{{ 'registration.wizard.label.email'|trans }}</label>
    <div class="col-xs-9">
        <input type="email" class="form-control bg-light-gray frt-light-pink" id="email" value="{{ email }}">
    </div>
</div>