{% trans_default_domain 'ElementRegistration' %}

{# first name #}
<div class="form-group">
    <label for="firstName" class="col-xs-3 control-label frt-light-pink">{{ 'registration.wizard.label.first_name'|trans }}</label>
    <div class="col-xs-9">
        <input type="text" class="form-control bg-light-gray frt-light-pink" id="firstName" value="{{ firstName }}">
    </div>
</div>
{# last name #}
<div class="form-group">
    <label for="lastName" class="col-xs-3 control-label frt-light-pink">{{ 'registration.wizard.label.last_name'|trans }}</label>
    <div class="col-xs-9">
        <input type="text" class="form-control bg-light-gray frt-light-pink" id="lastName" value="{{ lastName }}">
    </div>
</div>
{# address #}
<div class="form-group">
    <label for="address" class="col-xs-3 control-label frt-light-pink">{{ 'registration.wizard.label.address'|trans }}</label>
    <div class="col-xs-9">
        <input type="text" class="form-control bg-light-gray frt-light-pink" id="address">
    </div>
</div>
{# suburb/city #}
<div class="form-group">
    <label for="suburb" class="col-xs-3 control-label frt-light-pink">{{ 'registration.wizard.label.suburb'|trans }}</label>
    <div class="col-xs-9">
        <input type="text" class="form-control bg-light-gray frt-light-pink" id="suburb">
    </div>
</div>
{# state #}
<div class="form-group">
    <label for="state" class="col-xs-3 control-label frt-light-pink">{{ 'registration.wizard.label.state'|trans }}</label>
    <div class="col-xs-9">
        <input type="text" class="form-control bg-light-gray frt-light-pink" id="state">
    </div>
</div>
{# coutry #}
<div class="form-group">
    <label for="country" class="col-xs-3 control-label frt-light-pink">{{ 'registration.wizard.label.country'|trans }}</label>
    <div class="col-xs-9">
        <input type="text" class="form-control bg-light-gray frt-light-pink" id="country">
    </div>
</div>