{% extends "AppBundle:layout:login/header/header.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block login_header_logo_box %}

{% endblock %}

{% block login_header_input_box %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div style="height:100%; float: left; width:248px;display:inline-block;" class="login-header-input-box-col1 border">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>
        <div style="height:100%; float: left; width:246px;display:inline-block;" class="login-header-input-box-col2 border">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="_password" required="required" />
        </div>
        <div style="height:100%; width:100px;display:inline-block;" class="login-header-input-box-col3 border">
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </div>
    </form>
{% endblock %}
