{% trans_default_domain 'ElementRegistration' %}

<div class="title-row" style="margin-bottom:20px;">
    <p class="frt-pink bheading-28"> {{ 'registration.wizard.title'|trans }}</p>
    <p><span class="frt-pink bheading-28">{{ userName }}</span></p>
</div>
<div class="description-row " style="height: 250px;">
    <p class="frt-light-pink heading-24">
        {{ 'registration.wizard.brief_description.paragraph1'|trans({'%site_name%': siteName}) }}
    </p>
    <p class="frt-light-pink heading-24">{{ 'registration.wizard.brief_description.paragraph2'|trans() }}</p>
</div>
<div class="button-row">
    <a class="btn btn-lg bg-light-gray frt-light-pink" href="#" role="button">{{ 'registration.wizard.button.start'|trans }}</a>
</div>