<div class="media-block pad-all" id="{{ commentId }}">
    <a class="media-left" href="#"><img class="img-circle img-xs" alt="{{ user.avatarAlt }}" src="{{ user.avatar }}"></a>
    <div class="media-body">
        <div class="mar-btm">
            <a href="#" class="btn-link text-semibold media-heading box-inline">{{ user.name }}</a>
            <p class="text-muted text-sm">{{ createdAt }}</p>
        </div>
        <p>{{ text }}</p>
    </div>
</div>

