<div class="timeline-entry timeline-comment-item">
    <div class="timeline-stat">
        <div class=""><img class="img-circle img-xs" src="{{ user.avatar }}" alt="{{ user.name }}"></div>
        <div class="timeline-time">{{ createdAt }}</div>
    </div>
    <div class="timeline-label mar-rgt-5">
        <p class="mar-no pad-btm">
            <a href="#" class="btn-link text-semibold">{{ user.name }}</a>
        </p>
        <p>{{ text }}</p>
    </div>
</div>