{% trans_default_domain 'Elements' %}

{% set collapseIn = collapse|default(false) ? "collapse" : "collapse in" %}
{% set accordionParent = accordionParent|default('') %}
{% set itemIdentifier = "option" %}
{% set optionPanelId = "acceptable-opt-panel" %}

<div class="panel bg-dark panel-colorful">

    <!-- Accordion title -->
    <div class="panel-heading border-btm-solid-dark-4a">
        <div class="panel-control girl-acceptable-opt-panel-control">
            <a class="btn btn-link no-pad-hor option-save" data-toggle="panel-overlay" data-target="#{{ optionPanelId }}" data-item-identifier="{{ itemIdentifier }}">
                <i class="fa fa-check-circle fa-fw fa-lg text-dark text-hover-info add-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'tip.save_opt'|trans }}"></i>
            </a>
        </div>

        <div class="panel-title">
            <a data-parent="#{{ accordionParent }}" data-toggle="collapse" href="#{{ optionPanelId }}">
                <span class="text-lg">{{ 'label.accptbl_opts'|trans }}</span>
            </a>
        </div>
    </div>

    <!-- Accordion content -->
    <div class="panel-collapse {{ collapseIn }}" id="{{ optionPanelId }}">
        <div class="panel-body no-pad-top">
            <div class="panel-group accordion no-mar-btm" id="acceptable-opt-panel-group">

                {% for option in options %}
                    {% include 'AppBundle:elements:detail/item.html.twig' with {
                        accordionParent: 'acceptable-opt-panel-group',
                        item: option,
                        type: itemIdentifier,
                        isFirst: loop.index == 1,
                    } %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>