{% trans_default_domain 'Elements' %}

{% set collapseIn = collapse|default(false) ? "collapse" : "collapse in" %}
{% set accordionParent = collapseAll|default(true) ? accordionParent|default('') : '' %}

<div class="panel bg-dark panel-colorful">
    <!--Accordion title-->
    <div class="panel-heading border-btm-solid-dark-4a">
        <div class="panel-control girl-acceptable-opt-panel-control">
            <a class="btn btn-link no-pad-hor save-profile">
                <i class="fa fa-check-circle fa-fw fa-lg text-dark text-hover-info add-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'tip.save_profile'|trans }}"></i>
            </a>
        </div>

        <div class="panel-title">
            <a data-parent="#{{ accordionParent }}" data-toggle="collapse" href="#profile-panel">
                <span class="text-lg">{{ 'label.profile'|trans }}</span>
            </a>
        </div>
    </div>

    <!--Accordion content-->
    <div class="panel-collapse {{ collapseIn }}" id="profile-panel">
        <div class="panel-body no-pad-btm">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="name">{{ 'label.name'|trans }}</label>
                <div class="col-sm-9">
                    <input type="email" placeholder="{{ 'label.name'|trans }}" id="name" name="name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="age">{{ 'label.age'|trans }}</label>
                <div class="col-sm-9">
                    <input type="text" placeholder="{{ 'label.age'|trans }}" id="age" name="age" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="occupation">{{ 'label.occupation'|trans }}</label>
                <div class="col-sm-9">
                    <input type="text" placeholder="{{ 'label.occupation'|trans }}" id="occupation" name="occupation" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="dob">{{ 'label.dob'|trans }}</label>
                <div class="col-sm-9">
                    <input type="text" placeholder="{{ 'label.dob'|trans }}" id="dob" name="dob" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="nationality">{{ 'label.nationality'|trans }}</label>
                <div class="col-sm-9">
                    <input type="text" placeholder="{{ 'label.nationality'|trans }}" id="nationality" name="nationality" class="form-control">
                </div>
            </div>
            {% if targetClients|length > 0 %}
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="">{{ 'label.targe_client'|trans }}</label>
                    <div class="col-sm-9">
                        {# target guest #}
                        <select id="acceptable-clients" data-placeholder="{{ 'placeholder.choose_target_client'|trans }}" multiple tabindex="4">
                            {% for targetClient in targetClients %}
                                {% if targetClient.selected %}
                                    <option value="{{ targetClient.id }}" selected>{{ targetClient.name }}</option>
                                {% else %}
                                    <option value="{{ targetClient.id }}">{{ targetClient.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}

            {% if groups|length > 0 %}
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="group">{{ 'label.group'|trans }}</label>
                    <div class="col-sm-9">
                        <select id="group" name="group">
                            {% for group in groups %}
                                {% if group.isDefault %}
                                    <option value="{{ group.id }}" selected>{{ group.name }}</option>
                                {% else %}
                                    <option value="{{ group.id }}">{{ group.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 control-label">{{ 'label.hybrid'|trans }}</label>
                <div class="col-xs-3 col-sm-4">
                    <div class="radio">
                        <label class="form-radio form-normal form-text">
                            <input type="radio" name="hybrid">{{ 'label.yes'|trans }}
                        </label>
                        <label class="form-radio form-normal form-text active">
                            <input type="radio" name="hybrid" checked>{{ 'label.no'|trans }}
                        </label>
                    </div>
                </div>
                <div class="col-xs-9 col-sm-5">
                    <input type="text" placeholder="{{ 'placeholder.hybrid_type'|trans }}" id="hybridType" name="hybridType" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>