{% trans_default_domain 'ElementLogin' %}

<form action="" id="form" autocomplete="off">
    <div class="body-right-bottom-row">
        <div class="body-right-bottom-col">
            <label for="username_email" class="hidden"></label>
            <input type="email" class="form-control input-lg bg-dark-gray frt-light-pink" id="email" placeholder="{{ 'login.placeholder.email'|trans }}" required>
        </div>
    </div>
    <div class="body-right-bottom-row">
        <div class="body-right-bottom-col">
            <label for="confirm_email"></label>
            <input type="email" class="form-control input-lg bg-dark-gray frt-light-pink" id="confirm_email" placeholder="{{ 'login.placeholder.re_enter_email'|trans }}" required>
        </div>
    </div>
    <div class="body-right-bottom-row ">
        <div class="body-right-bottom-col">
            <label for="password"></label>
            <input type="password" class="form-control input-lg bg-dark-gray frt-light-pink" id="password" placeholder="{{ 'login.placeholder.password'|trans }}" required>
        </div>
    </div>
    <div class="body-right-bottom-row ">
        <div class="body-right-bottom-col">
            <div class="radio">
                <label class="frt-light-pink input-lg">
                    <input type="radio" name="role" id="practitioner" value="practitioner" checked>
                    {{ 'login.radio_button.practitioner'|trans }}
                </label>
            </div>
            <div class="radio">
                <label class="frt-light-pink input-lg">
                    <input type="radio" name="role" id="client" value="client">
                    {{ 'login.radio_button.client'|trans }}
                </label>
            </div>
        </div>
    </div>
    <div class="body-right-bottom-row ">
        <div class="body-right-bottom-col">
            <button type="submit" class="btn btn-lg bg-light-gray frt-light-pink">{{ 'login.button.signup'|trans }}</button>
        </div>
    </div>
</form>