{% trans_default_domain 'Elements' %}

{% set comments_count = comments|default([])|length %}
<div class="media-block pad-all bord-btm feed" id="{{ id }}">
    <a class="media-left" href="#"><img class="img-circle img-sm" alt="{{ user.avatarAlt }}" src="{{ user.avatar }}"></a>
    <div class="media-body">
        <div class="mar-btm">
            <a href="#" class="btn-link text-semibold media-heading box-inline">{{ user.name }}</a>
            <p class="text-muted text-sm">{{ createdAt }}</p>
        </div>
        <p>{{ text }}</p>
        <img class="img-responsive mar-no" src="{{ media.url }}" alt="{{ media.alt }}">
        <div class="pad-ver">
            <a class="btn btn-link add-tooltip likes" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ 'tip.likes'|trans }}">
                <i class="fa fa-heart-o fa-lg text-default"></i> <span class="text-default text-bold">{{ likes|default('') }}</span>
            </a>

            <a class="btn btn-link add-tooltip comments" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ 'tip.comments'|trans }}">
                {% set icon = "fa-comment-o" %}

                {% if comments_count > 1 %}
                    {% set icon = "fa-comments-o" %}
                {% elseif comments_count == 0 %}
                    {% set comments_count = null %}
                {% endif %}

                <i class="fa {{ icon }} fa-lg text-default"></i> <span class="text-default text-bold">{{ comments_count }}</span>
            </a>
        </div>

         {# present comments in a classic way #}
        {#{% include 'AppBundle:elements:comments/classic-comments.html.twig' with {#}
            {#statusId: id,#}
            {#user: user,#}
            {#comments: comments#}
        {#} %}#}

        {# present comments with a timeline format #}
        {% include 'AppBundle:elements:comments/timeline-comments.html.twig' with {
            statusId: id,
            user: user,
            comments: comments
        } %}

    </div>
</div>
