{% trans_default_domain 'Elements' %}
{% import 'AppBundle:widgets:like-comment-link-widget.html.twig' as lcWidget %}

{% set comments_count = comments|default([])|length %}
<div class="media-block pad-all bord-btm feed" id="{{ id }}">
    <a class="media-left" href="#"><img class="img-circle img-sm" alt="{{ user.avatarAlt }}" src="{{ user.avatar }}"></a>
    <div class="media-body">
        <div class="mar-btm">
            <a href="#" class="btn-link text-semibold media-heading box-inline">{{ user.name }}</a>
            <p class="text-muted text-sm">{{ createdAt }}</p>
        </div>
        <p>{{ text }}</p>
        <img class="img-responsive mar-no" src="{{ media.url }}" alt="{{ media.alt }}">
        <div class="pad-ver">
            {{ lcWidget.showLinksOFCommentAndLike(comments_count, likes, {class: "btn btn-link", dataPlacement: "bottom"}) }}
        </div>

         {# present comments in a classic way #}
        {#{% include 'AppBundle:elements:comments/classic-comments.html.twig' with {#}
            {#statusId: id,#}
            {#user: user,#}
            {#comments: comments#}
        {#} %}#}

        {# present comments with a timeline format #}
        {% include 'AppBundle:elements:comments/timeline-comments.html.twig' with {
            statusId: id,
            user: user,
            comments: comments
        } %}

    </div>
</div>
