{% set panelCollapseId = option.name ~ '_opt_' ~ option.id %}
{% set checked = option.checked ? 'checked' : '' %}
{% set checkboxActive = option.checked ? 'active' : '' %}
{% set collapseIn = isFirst ? 'collapse in' : 'collapse' %}

<div class="panel bg-trans panel-colorful" data-opt-id="{{ option.id }}">

    <!--Accordion title-->
    <div class="panel-heading">
        <div class="panel-control girl-acceptable-opt-panel-control">
            <a class="btn btn-link" data-parent="#{{ accordionParent }}" data-toggle="collapse" href="#{{ panelCollapseId }}" aria-expanded="true">
                <i class="fa fa-chevron-down fa-fw fa-lg text-dark text-hover-info"></i>
            </a>
            <a class="btn btn-link">
                <i class="fa fa-times fa-fw fa-lg text-dark text-hover-danger"></i>
            </a>
        </div>

        <div class="panel-title girl-acceptable-opt-panel-title">
            <div class="checkbox">
                <label class="form-checkbox form-icon {{ checkboxActive }} form-text">
                    <input type="checkbox" {{ checked }}><span>{{ option.name }}</span>
                </label>
            </div>
        </div>
    </div>

    <!--Accordion content-->
    <div class="panel-collapse {{ collapseIn }}" id="{{ panelCollapseId }}" aria-expanded="true">
        <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven\'t heard of them accusamus labore sustainable VHS.
        </div>
    </div>
</div>