{% set prefix = type %}
{% set itemId = item.id %}
{% set itemTemplate = item.template %}

{% set checked = item.checked ? 'checked' : '' %}
{% set checkboxActive = item.checked ? 'active' : '' %}
{% set displayName = item.displayName|default('untitled') %}

{# this is used by js for gathering all items #}
{% set itemChkBoxCls = prefix ~ "-item-checkbox" %}

{% set collapseIn = isFirst ? 'collapse in' : 'collapse' %}
{% set panelCollapseId = prefix ~ 'item-panel-collapse-' ~ itemId %}

{% set itemBodyId = prefix ~ '-item-body-' ~ itemId %}
{% set removeNewItemLinkId = prefix ~ '-remove-new-item-only-' ~ itemId %}

{% set hiddenInputMaxItemId = prefix ~ '-mid-' ~ itemId %}

{% set emptyInfomation %}
    <p class="text-muted text-center">There are no items defined. Click "+" on top right corner to add new item.</p>
{% endset %}

<div class="panel bg-trans panel-colorful" data-item-id="{{ itemId }}">

    <!--Accordion title-->
    <div class="panel-heading">
        <div class="panel-control girl-acceptable-opt-panel-control">
            <a class="btn btn-link no-pad-hor" data-parent="#{{ accordionParent }}" data-toggle="collapse" href="#{{ panelCollapseId }}" aria-expanded="true">
                <i class="fa fa-caret-down fa-fw fa-lg text-dark text-hover-info add-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Expand/Collapse"></i>
            </a>
            <a class="btn btn-link no-pad-hor remove-new-item-only hidden" id="{{ removeNewItemLinkId }}" data-toggle="panel-overlay" data-target="#{{ panelCollapseId }}" data-item-id="{{ itemId }}" data-item-type="{{ prefix }}">
                <i class="fa fa-trash fa-fw fa-md text-dark text-hover-danger add-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Remove new item only"></i>
            </a>

            <a class="btn btn-link no-pad-hor item-save" data-toggle="panel-overlay" data-target="#{{ panelCollapseId }}" data-item-body="#{{ itemBodyId }}">
                <i class="fa fa-check fa-fw fa-md text-dark text-hover-info add-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Save item"></i>
            </a>
            <a class="btn btn-link no-pad-hor item-add" data-toggle="panel-overlay" data-target="#{{ panelCollapseId }}" data-parent="#{{ accordionParent }}" data-item-body="#{{ itemBodyId }}" data-item-type="{{ prefix }}" data-item-id="{{ itemId }}" data-item-template="{{ itemTemplate }}">
                <i class="fa fa-plus fa-fw fa-md text-dark text-hover-info add-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Add item"></i>
            </a>
            <a class="btn btn-link no-pad-hor item-remove" data-toggle="panel-overlay" data-target="#{{ panelCollapseId }}" data-parent="#{{ accordionParent }}" data-item-body="#{{ itemBodyId }}" data-item-type="{{ prefix }}" data-item-id="{{ itemId }}" data-empty-info-markup='{{ emptyInfomation }}'>
                <i class="fa fa-times fa-fw fa-md text-dark text-hover-danger add-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Remove item"></i>
            </a>
        </div>

        <div class="panel-title girl-acceptable-opt-panel-title">
            <div class="checkbox">
                <label class="form-checkbox form-icon {{ checkboxActive }} form-text">
                    <input type="checkbox" {{ checked }} class="{{ itemChkBoxCls }}" data-item-body="#{{ itemBodyId }}" data-item-id="{{ item.id }}"><span>{{ displayName }}</span>
                </label>
            </div>
        </div>
    </div>

    <!--Accordion content-->
    <div class="panel-collapse {{ collapseIn }}" id="{{ panelCollapseId }}" aria-expanded="true">
        <div class="panel-body pad-no-top-but-btm-5" id="{{ itemBodyId }}">
            {% if itemTemplate == "unit-price" %}
                {# load sub-items #}
                {% for subitem in item.items %}
                    {% include 'AppBundle:widgets:unit-price.html.twig' with {
                    unitPriceItem: subitem,
                    unitPricePrefix: prefix ~ "-" ~ itemId
                    } %}
                {% else %}
                    {{ emptyInfomation }}
                {% endfor %}
                {# end - load sub-item #}
            {% endif %}
        </div>
    </div>
</div>

