{% set collapseIn = collapse|default(false) ? "collapse" : "collapse in" %}
{% set accordionParent = collapseAll|default(true) ? accordionParent|default('') : '' %}

<div class="panel bg-dark panel-colorful">
    <!--Accordion title-->
    <div class="panel-heading border-btm-solid-dark-4a">
        <div class="panel-control girl-acceptable-opt-panel-control">
            <a class="btn btn-link no-pad-hor">
                <i class="fa fa-check-circle fa-fw fa-lg text-dark text-hover-info add-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Save"></i>
            </a>
        </div>

        <div class="panel-title">
            <a data-parent="#{{ accordionParent }}" data-toggle="collapse" href="#profile-panel">
                <span class="text-lg">Profile</span>
            </a>
        </div>
    </div>

    <!--Accordion content-->
    <div class="panel-collapse {{ collapseIn }}" id="profile-panel">
        <div class="panel-body no-pad-btm">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="name">Name</label>
                <div class="col-sm-9">
                    <input type="email" placeholder="Name" id="name" name="name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="age">Age</label>
                <div class="col-sm-9">
                    <input type="text" placeholder="Age" id="age" name="age" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="occupation">Occupation</label>
                <div class="col-sm-9">
                    <input type="text" placeholder="Occupation" id="occupation" name="occupation" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="dob">Date of Birth</label>
                <div class="col-sm-9">
                    <input type="text" placeholder="Date of birth" id="dob" name="dob" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="nationality">Nationality</label>
                <div class="col-sm-9">
                    <input type="text" placeholder="Nationality" id="nationality" name="nationality" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="">Target guest</label>
                <div class="col-sm-9">
                    {# target guest #}
                    <select id="acceptable-clients" data-placeholder="Choose target guest..." multiple tabindex="4">
                        <option value="Aland Islands">Any</option>
                        <option value="United States">Chinese</option>
                        <option value="United Kingdom">Local</option>
                        <option value="Afghanistan">European</option>
                        <option value="Aland Islands">American</option>
                        <option value="Aland Islands">African</option>
                        <option value="Aland Islands">Other Asian</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="group">Group</label>
                <div class="col-sm-9">
                    <select id="group" name="group" class="form-control">
                        {% for group in groups %}
                            {% if group.isDefault %}
                                <option value="{{ group.id }}" selected>{{ group.name }}</option>
                            {% else %}
                                <option value="{{ group.id }}">{{ group.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Hybrid</label>
                <div class="col-sm-9">
                    <div class="radio">
                        <label class="form-radio form-normal form-text">
                            <input type="radio" name="hybrid">Yes
                        </label>
                        <label class="form-radio form-normal form-text active">
                            <input type="radio" name="hybrid" checked>No
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>