{% set collapseIn = collapse|default(false) ? "collapse" : "collapse in" %}
{% set accordionParent = collapseAll|default(true) ? accordionParent|default('') : '' %}
{% set servicesPanelId = "services-panel" %}
{% set itemIdentifier = "services" %}

<div class="panel bg-dark panel-colorful">

    <!-- Accordion title -->
    <div class="panel-heading border-btm-solid-dark-4a">
        <div class="panel-control girl-acceptable-opt-panel-control">
            <a class="btn btn-link no-pad-hor service-save" data-toggle="panel-overlay" data-target="#{{ servicesPanelId }}" data-item-identifier="{{ itemIdentifier }}">
                <i class="fa fa-check-circle fa-fw fa-lg text-dark text-hover-info add-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Save services"></i>
            </a>
            <a class="btn btn-link no-pad-hor">
                <i class="fa fa-plus-circle fa-fw fa-lg text-dark text-hover-info add-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Add a new service"></i>
            </a>
            <a class="btn btn-link no-pad-hor">
                <i class="fa fa-times-circle fa-fw fa-lg text-dark text-hover-danger add-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Remove service(s)"></i>
            </a>
        </div>

        <div class="panel-title">
            <a data-parent="#{{ accordionParent }}" data-toggle="collapse" href="#{{ servicesPanelId }}">
                <span class="text-lg">Services</span>
            </a>
        </div>
    </div>

    <!-- Accordion content -->
    <div class="panel-collapse {{ collapseIn }}" id="{{ servicesPanelId }}">
        <div class="panel-body no-pad-top">
            <div class="panel-group accordion no-mar-btm" id="services-panel-group">
                {# load services #}
                {% for service in services|slice(0, 4)%}
                    {% embed 'AppBundle:elements:girl/item.html.twig' with {
                        accordionParent: 'services-panel-group',
                        item: service,
                        identifier: itemIdentifier,
                        isFirst: loop.index == 1
                    } %}
                        {% block item_body %}

                            {# load items #}
                            {% for item in service.items %}
                                {% if item.template == "unit-price" %}
                                    {% include 'AppBundle:widgets:unit-price.html.twig' with {
                                        item: item,
                                        name: service.name
                                    } %}
                                {% endif %}
                            {% else %}
                                <p class="text-muted text-center">There are no items defined. Click "+" on top right corner to add new item for this service.</p>
                            {% endfor %}
                            {# end - load item #}

                        {% endblock %}
                    {% endembed %}
                {% endfor %}
                {# end - load service #}
            </div>
        </div>
    </div>
</div>